


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


body {
  font-family: "Roboto Mono", monospace;
  font-size: 12pt;
  line-height: 1.65;
}


h1{
  /* color:rgb(0,50,50); */
    color: teal;
    color: #F9423a;
    background-color: #556b2f;
text-align: center;
font-size: 12pt;
font-size: 12px;
font-size: 400%;
  }


p {
  font-weight: 900;
  font-family:
}

b, strong {
  font-weight: 200;
}

a:hover {
  background-color: pink; }
a { color: teal;
  text-decoration: none


}
