@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
h1 {
  font-family: "Abril Fatface", cursive;
  color: green;
text-align:center;
font-size: 75px;
background-color: lightblue;
border: 3px solid green;
}
h3{ color: lightblue;
  text-align: center;
}
h2
{ color: lightblue;
text-align: left;}

a { color: black;
text-decoration: none;
}
a:hover {background-color: pink;}
.summary {color: black;
font-size: 18px;
text-align: center;}


address { color: black;
font-size:16;
}
.list {color: pink; }
img { display: block;
  width: 225px;
  margin: 0 auto;
border: 20px solid green;
background-color: white;}
.contact {text-align: center;
color: green;}
.info {color: green;}
.edu {color: green;}
.intern {color: green;}
.jobs {color: green;}
.pre {color: lightblue;}
.assistant {color: lightblue;}
.honors {color: green;}
